@model Blog.Models.User
@{
    ViewBag.Title = "关于我";
}

<aside>
  <div class="l_box">
      @Html.Action("AboutMe", new { controller = "PartialView" })
      @Html.Action("Photos", new { controller = "PartialView",posId = 3 })
      @Html.Partial("~/Views/Shared/_PartialAttentionMe.cshtml")
  </div>
  </aside>
  <div class="r_box">
<main>
     <ul class="about">
          @Html.Raw(@Model.AboutMe)
     </ul>
</main>
  </div>
<!--<script>
    $(function () {
        $.post("/Home/GetMyMessageApi", {}, function (data, status) {
            if (status == "success") {
                if (data != null) {
                    $(".about").html(data.AboutMe);
                }
            }
        });
    });
</script>-->