@model Blog.Models.Articles
@{
    ViewBag.Title = "RecArticlesAdd";
    Layout = "~/Views/Shared/_LayoutDiv.cshtml";
}

<div style="padding: 5px 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>添加推荐</legend>
    </fieldset>
    @using (Html.BeginForm("RecArticlesAdd", "RecArticles", FormMethod.Post, new { @class = "layui-form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="ArticleId" value="@Model.Id" />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="Title" readonly="readonly" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="@Model.Title" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <input type="text" name="ShowType" readonly="readonly" lay-verify="required" placeholder="请输入类别" autocomplete="off" class="layui-input" value="@Model.ShowType" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">位置</label>
                <div class="layui-input-inline">
                    <select name="PosId">
                        @{
                            <option value="1">首页</option>
                            if (Model.ShowType == "文章")
                            {
                                <option value="2">我的日记</option>
                            }


                            if (Model.ShowType == "相册")
                            {
                                <option value="3">关于我</option>
                                <option value="4">留言</option>
                            }                           
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权重</label>
                <div class="layui-input-inline">
                    <input type="text" name="Weight" lay-verify="required" placeholder="请输入权重" autocomplete="off" class="layui-input" value="@ViewBag.Weight" />
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            </div>
        </div>
    }
</div>
<script>
    layui.use(['element', 'form', 'layer'], function () {
        var element = layui.element;
        var form = layui.form;
        var layer = layui.layer, index = parent.layer.getFrameIndex(window.name);
        //监听提交
        form.on('submit(add)', function (data) {
            parent.layer.close(index);
        });
    });
</script>
